<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.pase_listaConnectionString"
            connectionString="Data Source=RODRIGO;Initial Catalog=pase_lista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Modelo.Properties.Settings.pase_listaConnectionString1"
            connectionString="Data Source=DESKTOP-PK8G35S;Initial Catalog=pase_lista;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Modelo.Properties.Settings.ConexionProduccion" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=paselistadb;Persist Security Info=True;User ID=paselistadb;Password=Yg2ged--F2Sc"
            providerName="System.Data.SqlClient" />
        <add name="Modelo.Properties.Settings.paselistaConnectionString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=paselista;Persist Security Info=True;User ID=paselista;Password=Qp02~~Yd4MD3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>