ProjectPaslum/obj/Debug/ProjectPaslum.pdb
ProjectPaslum/obj/Debug/ProjectPaslum.dll
ProjectPaslum/obj/Debug/ProjectPaslum.csprojResolveAssemblyReference.cache
ProjectPaslum/obj/Debug/ProjectPaslum.csproj.FileListAbsolute.txt
ProjectPaslum/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectPaslum/bin/ProjectPaslum.pdb
ProjectPaslum/bin/ProjectPaslum.dll
ProjectPaslum/bin/Modelo.pdb
